body::-webkit-scrollbar {
  width: 5px;
  border-radius: 80px; /* Set the width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background: #f78418;
  border-radius: 30px;
}

table::-webkit-scrollbar-thumb:hover {
  background: #555;
}

table::-webkit-scrollbar {
  width: 5px;
  border-radius: 80px; /* Set the width of the scrollbar */
}

table::-webkit-scrollbar-thumb {
  background: #f78418;
  border-radius: 30px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
